<body class="text-center">
  <div class="form-signin">
    <%#= image_tag "logo.jpeg", width: 72, height: 72, class: "mb-4" %>
    <h2>Forgot your password?</h2>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", style: 'width:100%;' %>
          </div>
          <br />
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-danger btn-block" %>
          </div>
        </div>
    </div>
  </div>
  <% end %>
  <div style="margin-bottom: 1rem;"></div>
  <%= render "devise/shared/links" %>
</body>
