<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
    </div>
    <% if current_user.role == "admin" %>
      <ul class="sidebar-menu">
        <li class="treeview">
          <%= link_to users_path do %>
            USERS
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
      </ul>
    <% end %>
    <% if current_user.role == "vendor" || current_user.role == "admin" %>
      <ul class="sidebar-menu">
        <li class="treeview">
          <%= link_to authenticated_root_path do %>
            DASHBOARD
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
        <li class="treeview">
          <%= link_to customers_path do %>
            CUSTOMERS
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
        <li class="treeview">
          <%= link_to invoice_path do %>
            INVOICE
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
        <li class="treeview">
          <%= link_to invoices_path do %>
            INVOICES
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
        <li class="treeview">
          <%= link_to new_payment_link_path do %>
            PAYMENT LINK
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
        <li class="treeview">
          <%= link_to payouts_path do %>
            PAYOUTS
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
      </ul>  
    <% end %>
    <% if current_user.role == "customer" %>
      <ul class="sidebar-menu">
        <li class="treeview">
          <%= link_to new_customer_path do %>
            ADD YOURSELF AS CUSTOMER
          <i class="fa fa-angle-left pull-right"></i>
          <% end %>
        </li>
      </ul>
    <% end %>     
  </section>
  <!-- /.sidebar -->
</aside>
