


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>


<div class="content-wrapper tables-data-page">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      New Customer
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to authenticated_root_path do %><i class="fa fa-dashboard"></i> Home<% end %></li>
    </ol>
  </section>

  <section>
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="box box-primary" data-aos="fade-up">
          <div class="box-header with-border">
            <%= form_with url: create_customer_path, method: :post, local: true do |form| %>
                <input id="email" name="email" class="form-control" style="width: 100%" placeholder="Email" required value="<%= @user.try(:email) %>" />
								<br />
                <input id="name" name="name" class="form-control" style="width: 100%" placeholder="Name" required value="<%= @user.try(:name) %>"/>
								<br />
                <input id="phone" name="phone" class="form-control" style="width: 100%" placeholder="Phone"/>
								<br />
                <input id="line1" name="line1" class="form-control" style="width: 100%" placeholder="Address Line 1"/>
								<br />
                <input id="line2" name="line2" class="form-control" style="width: 100%" placeholder="Address Line 2"/>
								<br />
                <input id="city" name="city" class="form-control" style="width: 100%" placeholder="City"/>
								<br />
                <input id="state" name="state" class="form-control" style="width: 100%" placeholder="State"/>
								<br />
                <input id="postal_code" name="postal_code" class="form-control" style="width: 100%" placeholder="Postal Code"/>
								<br />
								<%= hidden_field_tag "user_id", current_user.try(:id) %>
                <%= form.select :country, stripe_supported_countries, {}, class: "form-control", style: "width:100%;" %>
                <br/>
                <%= submit_tag 'Create Customer',:class=>"btn btn-block btn-info",:style=>"display:inline;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

<script>
  // Check if the page has already been reloaded
  if (!sessionStorage.getItem('reloaded')) {
    sessionStorage.setItem('reloaded', 'true'); // Mark as reloaded
    location.reload(); // Reload the page
  } else {
    sessionStorage.removeItem('reloaded'); // Remove the flag after reloading once
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY']%>&libraries=places&callback=initAddressAutocomplete"
  defer>
</script>


<script>
  function initAddressAutocomplete() {
    const input = document.getElementById('line1');
    if (!input) return;

    const autocomplete = new google.maps.places.Autocomplete(input, {
      types: ['address'],
    });

    autocomplete.addListener('place_changed', function () {
      const place = autocomplete.getPlace();
      if (!place.address_components) return;

      let street_number = "";
      let route         = "";
      let city          = "";
      let state         = "";
      let postal_code   = "";
      let country       = "";

      place.address_components.forEach(function (c) {
        const types = c.types;
        if (types.includes('street_number'))      street_number = c.long_name;
        if (types.includes('route'))              route         = c.long_name;
        if (types.includes('locality'))           city          = c.long_name;
        if (types.includes('administrative_area_level_1')) state = c.short_name;
        if (types.includes('postal_code'))        postal_code   = c.long_name;
        if (types.includes('country'))            country       = c.long_name; countryCode = c.short_name;
      });

      const line1 = [street_number, route].filter(Boolean).join(' ');

      document.getElementById('line1').value = line1;
      document.getElementById('city').value          = city;
      document.getElementById('state').value         = state;
      document.getElementById('postal_code').value   = postal_code;
      const countrySelect = document.getElementById('country');

      if (countrySelect) {
        // If your <option> values are ISO codes (US, CA, etc.)
        if (countrySelect.querySelector(`option[value="${countryCode}"]`)) {
          countrySelect.value = countryCode;
        }
        // Or, if your <option> values are the full country names
        else if (countrySelect.querySelector(`option[value="${country}"]`)) {
          countrySelect.value = country;
        }

        // Trigger change event in case anything listens to it
        countrySelect.dispatchEvent(new Event('change'));
      }
    });
  }

  // Turbo / normal navigation support
  document.addEventListener('turbo:load', initAddressAutocomplete);
  document.addEventListener('DOMContentLoaded', initAddressAutocomplete);
</script>





